@import '../Comun/_variables.scss';

footer {
    display: flex;
    // Distribuye los elementos a los extremos
    justify-content: center; 
    // Alinea verticalmente
    align-items: center; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: $azulClaro;
    color: $negro;
    padding: 0.5rem; // Reduce el espacio interior
    .footerContent {
        display: flex;
        align-items: center; // Alinea texto y logo
        gap: 0.5rem; // Reduce la separación entre ellos
    }

    p {
        margin: 0;
        padding: 0.5rem;
    }

    .logoFooter {
        margin-left: 400px;
        width: 50px;
        height: 50px;
        background-image: $imagenLogoFooter;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
    }
}