@import '../Comun/_variables.scss';

header {
    background-color: $azulClaro;
    color: $negro;
}

.cabecera {
    display: inline-block;
    div, p, h1 {
        display: inline-block;
    }
}

.fotoPerfil {
    background-image: $imagenFotoPerfil;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.logo {
    background-image: $imagenLogo;

    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}