$azulClaro: #9BB3B8;
$verdeClaro: #A8C3A5;
$azulOscuroBoton: #053D64;
$azulOscuroModoNoche: #001F54;
$gris: #303030;
$negro: #000000;
$blanco: #FFFFFF;
$grisClaro: #DDD7D7;
$imagenFondo: url('../img/estrellitas.jpg');
$imagenLuna: url('../img/luna.jpg');
$imagenLogo: url('../img/logoTrabajoDIW.jpg');
$imagenLogoFooter: url('../img/logoFooter.jpg');
$imagenFotoPerfil: url('../img/fotoPerfil');
$kalam: 'Kalam';